body {
  background-color: beige;
  min-width: 900px;
  padding: 10px;
}

header {
  text-align: center;
  width: 100%;
  font-family: Apple Chancery, cursive;
  padding: 10px;
  font-size: 30px;
}

body header {
  font-family: Apple Chancery, cursive;
  font-weight: bold;
  text-decoration: underline wavy;
  text-align: center;
  text-shadow: 0.5px 0.5px 0.5px coral;
}

.formstyle,
#form {
  /* border: 1px solid; */
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  background-color: beige;
}

#form {
  border: 2px solid;
  width: 500px;
}

form button {
  background-color: rgb(135, 236, 135);
  font-weight: bold;
  font-size: 20px;
}

div {
  text-align: center;
  font-family: Apple Chancery, cursive;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}

.tabelas {
  display: inline-block;
  margin: auto;
}

label {
  display: block;
  font-family: Apple Chancery, cursive;
  font-weight: bold;
  text-decoration: underline wavy;
  text-align: center;
  text-shadow: 0.5px 0.5px 0.5px coral;
  padding: 10px;
}

label[for='filtro'],
#filtro {
  display: inline;
  font-size: 20px;
}
#filtro {
  width: 300px;
}
input {
  border-radius: 10px;
  padding: 5px;
  border: solid 2px;
}

input:hover,
button:hover {
  color: red;
}

table {
  border: 3px dashed;
  border-radius: 10px;
  padding: 10px 20px 20px;
  display: inline-block;
  width: 500px;
  margin: 10px;
  background-color: beige;
  border-collapse: collapse;
}

thead,
caption {
  font-size: 20px;
  font-weight: bold;
  font-family: Apple Chancery, cursive;
  font-variant: small-caps;
  padding: 0px 0px 10px;
  margin: auto;
  text-decoration: blink;
}
thead,
th {
  background-color: bisque;
}

tbody,
tbody button {
  margin: auto;
  font-family: Apple Chancery, cursive;
  border-radius: 10px;
}

td,
tr,
th {
  border: 1px solid;
  padding: 5px;
  width: 100px;
  margin: auto;
}

tbody button {
  font-weight: bold;
}
